* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}
body {
  display: flex;
  width: 25rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1a202c;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #000000;
}
.text-center {
  text-align: center;
}
.mb-6 {
  margin-bottom: 1rem;
}
.text-2xl {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
.form-group {
  margin-bottom: 0.5rem;
}
.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: small;
  color: #ffffff;
}
input {
  width: 90%;
  padding: 0.7rem 1rem;
  background-color: #000000;
  color: #fff;
  border: 1px solid rgb(48, 48, 48);
  outline: none;
}
input:focus {
  border-color: #c3c3c3;
}
textarea {
  width: 90%;
  height: 100px;
  padding: 0.7rem 1rem;
  background-color: #000000;
  color: #fff;
  border: 1px solid rgb(48, 48, 48);
  outline: none;
}
textarea:focus {
  border-color: #c3c3c3;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: #c1c1c1;
}
.btn-secondary {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid #3b3b3b;
}
.btn-secondary:hover {
  background-color: #333;
}
a {
  font-size: small;
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: underline;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.1rem;
  border: 1px solid rgb(255, 255, 255);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  transform: scale(0);
  background-color: rgb(255, 255, 255);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:hover {
  color: rgb(255, 255, 255);
}

